.service {
  flex-direction: column;
  padding: 20px;
  padding-bottom: calc(100vw * 0.5);
  background-image: url('../images/services.svg');
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  h2 {
    font-size: 27px;
    color: var(--dark-0);
    font-weight: bold;
    text-transform: uppercase;
    small {
      color: var(--gray-2);
      font-size: 20px;
      display: block;
      font-weight: bold;
    }
  }
  .service-wrap,
  .icons,
  figure {
    flex-direction: column;
  }
  .service-wrap {
    > a {
      @include button-green;
    }
    .icons {
      figure {
        align-items: center;
        figcaption {
          text-align: center;
          font-size: 16px;
          font-weight: bold;
          color: var(--gray-0);
          margin-top: 20px;
        }
        img {
          width: 100%;
          max-width: 100px;
        }
      }
    }
  }
}
@media (min-width: 768px) {
  .service {
    .service-wrap {
      align-items: center;
      > a {
        width: 200px;
        margin: 50px 0;
      }
      flex-direction: column-reverse;
      .icons {
        flex-direction: row;
        justify-content: space-around;
      }
    }
  }
}
